.App {
    padding: 60px 0 100px;
    max-width: 960px;
    margin: 0 auto;
}

.App header {
  text-align: center;
  margin: 5px;
}

.App img {
  max-width: 100px;
  margin: 0 auto;
}

.App h1{
display: inline;
margin-top: 5px;
}

.App footer{
  text-align: center;
  padding: 20px;
}
