.dictionary-app-wrapper{
  background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

.App {
    padding: 60px 0 100px;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
    
}

.App header {
  text-align: center;
  margin: 5px;
}


.App h1{
display: inline;
margin-top: 5px;
}

.App footer{
  text-align: center;
  padding: 20px;
}


